:root {
    --color1: #5b9279;
    --color2: #001021;
    --color3: #246eb9;
    --color4: #e7e5df;
    --color5: #784f41;
    --heading-text-color: #001021
}

body {
    background-color: var(--color4);
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: var(--color2);
    margin: 0;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
}

header, main, footer {
    max-width: 1400px;
    margin: 0 auto;
}


main {
    margin: auto;
    padding: 10px;
}


.hero {
    position: relative;
}
    
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    color: white;
    font-size: 3em;
    text-align: center;

}
    

article {
    position: absolute;
    color: white;
    top: 100px;
    left: 50px;
    right: 50px;
    font-size: 1em;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}


.hero article img {
   width: 200px;
   float: right;
   height: auto;
   padding: 20px;
}

article p {
    padding: 1rem;
}











